# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environments
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local

# Especific

# Credenciais (NUNCA ENVIAR)
bots.py
bots.json
.cdsapirc
.env

# CAMS
# Ignora as pastas de cópias e dados finais, mas mantém a estrutura se quiseres
1day_copy/
1month_copy/
metadados_cams.txt
progress.json
data_api_opt_bot.py

# IPMA
# Ignoramos o conteúdo, mas abrimos exceção para os ficheiros de base
meteorology/IPMA/data_input/*
!meteorology/IPMA/data_input/IPMA_stations.json
!meteorology/IPMA/data_input/IPMA_stations.csv
!meteorology/IPMA/data_input/IPMA_stations_data_oficial_corrected.csv
meteorology/IPMA/data_final/


# Population
# Ignoramos os dados de treino/ML, mantemos apenas os oficiais
demography/population_total/data/*
!demography/population_total/data/populacao_total.csv
!demography/population_total/data/previsao_oficial_2025.csv

# Outros
data_merged/
data_final/
data_intermediate
*.html
__pycache__/


graficos/principais/*
!graficos/principais/test
graficos/principais/test/*