cachetools
cloudpickle
dask
fsspec
jsonschema
jsonschema-specifications
locket
matplotlib
munkres
odc-geo
odc-loader
odc-stac
opencv-python
opencv-python-headless
orjson
overturemaps
packaging
pandas
partd
pyarrow
PySide6
pystac
pystac-client
pytz
PyYAML
referencing
rioxarray
rpds-py
setuptools
shiboken6
stackstac
toolz
typing_extensions
tzdata
wheel
xarray  
affine
attrs
branca
Brotli
Cartopy
certifi
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
fiona
folium
fonttools
GDAL
geopandas
h2
hpack
hyperframe
idna
Jinja2
joblib
kiwisolver
mapclassify
MarkupSafe
networkx
numpy
pillow
pyogrio
pyparsing
pyproj
pyshp
PySocks
python-dateutil
rasterio
rasterstats
requests
scikit-learn
scipy
shapely
simplejson
six
snuggs
threadpoolctl
tornado
unicodedata2
urllib3
xyzservices
cdsapi
pgeocode
seaborn
meteostat